.content {
  padding-top: 10px;
  width: 450px;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

mat-form-field {
  width: 100%;
}

.action {
  padding: 0px 25px 20px;

  button {
    flex: 1;
  }
}

.alert {
  margin-top: -25px;
  font-size: 14px;
  color: #f44336;
  padding-bottom: 5px;
}
